In [1]:
import geopandas as gpd
from keplergl import KeplerGl

In [2]:
gdf = gpd.read_file("data/parking_2015.geojson")
gdf.head()

,anon_ticket_number,issue_datetime,anon_plate_id,violation_desc,fine,issuing_agency,lat,lon,geometry
0,4674379,01/01/2015 00:00,934383,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
1,4707189,01/01/2015 00:00,1065037,BLOCKNG MASS TRANSIT,101,SEPTA,39.975789,-75.163471,POINT (-75.16347 39.97579)
2,4584526,01/01/2015 00:01,1262953,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
3,4669046,01/01/2015 00:01,47082,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)
4,4588341,01/01/2015 00:02,1509569,SIDEWALK CC,76,POLICE,39.954927,-75.140262,POINT (-75.14026 39.95493)

In [ ]:
m = KeplerGl(height=900)
m.add_data(data=gdf, name='3dHexagon')
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

Convert the Hexagon to Box-Hexagon and then later the colour can be changed. The KM of the per box can also be changed and then a height can be added as well. Convert this to 3D and using Ctrl you can change the views.