In [2]:
import geopandas as gpd
from keplergl import KeplerGl

In [12]:
nbs = gpd.read_file(r'data\neighbrhoods.geojson')
nbs.head()

,NAME,LISTNAME,MAPNAME,Shape_Leng,Shape_Area,NUMPOINTS,geometry
0,BRIDESBURG,Bridesburg,Bridesburg,27814.546521,4.458626e+07,149.0,"MULTIPOLYGON (((2719789.837 256235.538, 271981..."
1,BUSTLETON,Bustleton,Bustleton,48868.458365,1.140504e+08,228.0,"MULTIPOLYGON (((2733378.171 289259.945, 273281..."
2,CEDARBROOK,Cedarbrook,Cedarbrook,20021.415802,2.487174e+07,129.0,"MULTIPOLYGON (((2685267.950 279747.336, 268527..."
3,CHESTNUT_HILL,Chestnut Hill,Chestnut Hill,56394.297195,7.966498e+07,7783.0,"MULTIPOLYGON (((2678490.151 284400.400, 267851..."
4,EAST_FALLS,East Falls,East Falls,27400.776417,4.057689e+07,3715.0,"MULTIPOLYGON (((2686769.727 263625.367, 268692..."

In [13]:
nbs.crs

<Projected CRS: EPSG:2272>
Name: NAD83 / Pennsylvania South (ftUS)
Axis Info [cartesian]:
- X[east]: Easting (US survey foot)
- Y[north]: Northing (US survey foot)
Area of Use:
- name: United States (USA) - Pennsylvania - counties of Adams; Allegheny; Armstrong; Beaver; Bedford; Berks; Blair; Bucks; Butler; Cambria; Chester; Cumberland; Dauphin; Delaware; Fayette; Franklin; Fulton; Greene; Huntingdon; Indiana; Juniata; Lancaster; Lawrence; Lebanon; Lehigh; Mifflin; Montgomery; Northampton; Perry; Philadelphia; Schuylkill; Snyder; Somerset; Washington; Westmoreland; York.
- bounds: (-80.53, 39.71, -74.72, 41.18)
Coordinate Operation:
- name: SPCS83 Pennsylvania South zone (US Survey feet)
- method: Lambert Conic Conformal (2SP)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [14]:
nbs = nbs.to_crs(epsg=4326)

In [15]:
nbs.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [16]:
m = KeplerGl(height=900)
m.add_data(data=nbs, name='choropleth_map')
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'choropleth_map': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, â€¦