In [2]:
from keplergl import KeplerGl
import pandas as pd

In [3]:
# Create a Dataframe
df = pd.DataFrame(
    {
        "City": ["Shanghai", "Sao paulo", "Cairo", "London", "Toronto", "Sydney"],
        "Country": ["China", "Brazil", "Egypt", "England", "Canada", "Australia"],
        "Latitude": [31.045556, -23.473293, 30.05, 51.514125, 43.666667, -33.861481],
        "Longitude": [121.399722, -46.665803, 31.25, -0.093689, -79.416667, 151.205475],
        "Population": [14608512, 10021437, 7734602, 7421228, 4612187, 4394585],
    }
)


df

        City    Country   Latitude   Longitude  Population
0   Shanghai      China  31.045556  121.399722    14608512
1  Sao paulo     Brazil -23.473293  -46.665803    10021437
2      Cairo      Egypt  30.050000   31.250000     7734602
3     London    England  51.514125   -0.093689     7421228
4    Toronto     Canada  43.666667  -79.416667     4612187
5     Sydney  Australia -33.861481  151.205475     4394585

In [4]:
#Create a basemap 
m = KeplerGl(height=600, width=800)

#show the map
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=600)